.laSlectionTradevino {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.pourLeCordon {
  margin: 0;
}
.laSlectionTradevinoContainer {
  position: absolute;
  top: 48px;
  left: 41px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 315px;
  height: 78px;
}
.cordonBleuChild {
  position: absolute;
  top: 635.5px;
  left: 24px;
  width: 171px;
  height: 171px;
}
.cordonBleuItem,
.div {
  position: absolute;
  top: 627.5px;
  left: 145px;
  width: 59px;
  height: 59px;
}
.div {
  top: 644.5px;
  left: 148px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 54px;
  height: 41px;
}
.copyBouteille {
  position: absolute;
  top: 17.35px;
  left: -0.78px;
  transform: rotate(-47.86deg);
  transform-origin: 0 0;
}
.copyBouteille1,
.copyBouteille2,
.copyBouteille3 {
  position: absolute;
  top: 13.2px;
  left: 2.74px;
  transform: rotate(-39.98deg);
  transform-origin: 0 0;
}
.copyBouteille2,
.copyBouteille3 {
  top: 9.62px;
  left: 6.74px;
  transform: rotate(-32.22deg);
}
.copyBouteille3 {
  top: 6.83px;
  left: 10.98px;
  transform: rotate(-26.27deg);
}
.copyBouteille4,
.copyBouteille5,
.copyBouteille6 {
  position: absolute;
  top: 4.94px;
  left: 14.58px;
  transform: rotate(-20.38deg);
  transform-origin: 0 0;
}
.copyBouteille5,
.copyBouteille6 {
  top: 3.64px;
  left: 17.97px;
  transform: rotate(-16.61deg);
}
.copyBouteille6 {
  top: 2.68px;
  left: 20.86px;
  transform: rotate(-10.78deg);
}
.copyBouteille7,
.copyBouteille8,
.copyBouteilleParent {
  position: absolute;
  top: 1.82px;
  left: 24.8px;
  transform: rotate(-4.95deg);
  transform-origin: 0 0;
}
.copyBouteille8,
.copyBouteilleParent {
  top: 1.39px;
  left: 28.76px;
  transform: rotate(0.7deg);
}
.copyBouteilleParent {
  top: 616px;
  left: 143.06px;
  width: 32.12px;
  height: 23.73px;
  transform: rotate(2.57deg);
  font-size: var(--font-size-5xs);
}
.cordonBleuInner {
  position: absolute;
  top: 404px;
  left: 20px;
  width: 171px;
  height: 171px;
}
.div1,
.ellipseIcon {
  position: absolute;
  top: 396px;
  left: 141px;
  width: 59px;
  height: 59px;
}
.div1 {
  top: 414px;
  left: 144px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 54px;
  height: 41px;
}
.cordonBleuChild1,
.div2 {
  position: absolute;
  top: 376px;
  left: 171px;
  width: 49px;
  height: 49px;
}
.div2 {
  top: 387px;
  left: 173px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 46px;
  height: 41px;
}
.copyBouteille18,
.copyBouteille19 {
  position: absolute;
  top: 17.36px;
  left: -0.21px;
  transform: rotate(-49.74deg);
  transform-origin: 0 0;
}
.copyBouteille19 {
  top: 13.1px;
  left: 3.17px;
  transform: rotate(-41.87deg);
}
.copyBouteille20,
.copyBouteille21,
.copyBouteille22 {
  position: absolute;
  top: 9.39px;
  left: 7.05px;
  transform: rotate(-34.11deg);
  transform-origin: 0 0;
}
.copyBouteille21,
.copyBouteille22 {
  top: 6.46px;
  left: 11.2px;
  transform: rotate(-28.16deg);
}
.copyBouteille22 {
  top: 4.46px;
  left: 14.73px;
  transform: rotate(-22.26deg);
}
.copyBouteille23,
.copyBouteille24,
.copyBouteille25 {
  position: absolute;
  top: 3.04px;
  left: 18.08px;
  transform: rotate(-18.5deg);
  transform-origin: 0 0;
}
.copyBouteille24,
.copyBouteille25 {
  top: 1.99px;
  left: 20.93px;
  transform: rotate(-12.67deg);
}
.copyBouteille25 {
  top: 1.01px;
  left: 24.85px;
  transform: rotate(-6.83deg);
}
.copyBouteille26,
.copyBouteilleContainer {
  position: absolute;
  top: 0.44px;
  left: 28.79px;
  transform: rotate(-1.19deg);
  transform-origin: 0 0;
}
.copyBouteilleContainer {
  top: 385.01px;
  left: 138.66px;
  width: 32.12px;
  height: 23.73px;
  transform: rotate(0.68deg);
  font-size: var(--font-size-5xs);
}
.copyVerre,
.copyVerre1,
.copyVerre2 {
  position: absolute;
  top: -10.93px;
  left: 5.18px;
  transform: rotate(27.04deg);
  transform-origin: 0 0;
}
.copyVerre1,
.copyVerre2 {
  top: -9.09px;
  left: 8.64px;
  transform: rotate(35.39deg);
}
.copyVerre2 {
  top: -6.75px;
  left: 11.81px;
  transform: rotate(43.84deg);
}
.copyVerre3,
.copyVerre4,
.copyVerreParent {
  position: absolute;
  top: -3.95px;
  left: 14.62px;
  transform: rotate(52.36deg);
  transform-origin: 0 0;
}
.copyVerre4,
.copyVerreParent {
  top: -0.79px;
  left: 16.97px;
  transform: rotate(60.76deg);
}
.copyVerreParent {
  top: 381.12px;
  left: 202px;
  width: 12.09px;
  height: 17.67px;
  transform: rotate(-66.94deg);
}
.cordonBleuChild2 {
  position: absolute;
  top: 183.2px;
  left: 28px;
  width: 171px;
  height: 171px;
}
.cordonBleuChild3 {
  position: absolute;
  top: 177.2px;
  left: 155px;
  width: 59px;
  height: 59px;
}
.cordonBleuChild4,
.div3,
.div4 {
  position: absolute;
  top: 154.2px;
  left: 186px;
  width: 49px;
  height: 49px;
}
.div3,
.div4 {
  top: 195.2px;
  left: 162px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 46px;
  height: 41px;
}
.div4 {
  top: 165.2px;
  left: 188px;
  font-size: var(--font-size-base);
}
.copyVerreContainer,
.groupDiv {
  position: absolute;
  transform-origin: 0 0;
}
.groupDiv {
  top: 166.5px;
  left: 153.55px;
  width: 32.12px;
  height: 23.73px;
  transform: rotate(2.57deg);
  font-size: var(--font-size-5xs);
}
.copyVerreContainer {
  top: 160.12px;
  left: 216.92px;
  width: 12.09px;
  height: 17.67px;
  transform: rotate(-66.94deg);
}
.groupChild,
.groupItem {
  position: absolute;
  border-radius: var(--br-7xs);
  width: 133px;
  height: 44px;
}
.groupChild {
  top: 0;
  left: 4px;
  background-color: var(--color-antiquewhite);
}
.groupItem {
  top: 5px;
  left: 0;
  border: 1px solid var(--color-antiquewhite);
  box-sizing: border-box;
}
.jeDcouvre,
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 137px;
  height: 49px;
}
.jeDcouvre {
  top: 9px;
  left: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 27px;
}
.groupContainer,
.groupParent {
  width: 137px;
  height: 49px;
  font-size: var(--font-size-xl);
  color: var(--color-indianred);
}
.groupParent {
  position: absolute;
  top: 305px;
  left: 224px;
  cursor: pointer;
}
.groupContainer {
  top: 525px;
  left: 223px;
}
.groupContainer,
.groupParent1,
.vectorIcon {
  position: absolute;
  cursor: pointer;
}
.groupParent1 {
  top: 763px;
  left: 223px;
  width: 137px;
  height: 49px;
  font-size: var(--font-size-xl);
  color: var(--color-indianred);
}
.vectorIcon {
  height: 3.32%;
  width: 7.18%;
  top: 8.18%;
  right: 86.67%;
  bottom: 88.51%;
  left: 6.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.manoirDeLaContainer {
  position: absolute;
  top: 200px;
  left: 202px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 194px;
  height: 49px;
}
.bagatelle {
  top: 255px;
  left: 200px;
  font-size: var(--font-size-sm);
  line-height: 80.5%;
  height: 14px;
}
.bagatelle,
.domaineTatin2020Container,
.saumur {
  position: absolute;
  display: inline-block;
  width: 194px;
}
.saumur {
  top: 282px;
  left: 200px;
  font-size: var(--font-size-xs);
  font-weight: 200;
  font-family: var(--font-inter);
  height: 22px;
}
.domaineTatin2020Container {
  top: 418px;
  left: 194px;
  font-size: var(--font-size-xl);
  height: 37px;
}
.laCommanderie1 {
  line-height: 80.5%;
}
.span {
  font-size: var(--font-size-xl);
}
.laCommanderie,
.reuilly {
  position: absolute;
  top: 463px;
  left: 195px;
  display: inline-block;
  width: 194px;
  height: 37px;
  font-size: var(--font-size-sm);
}
.reuilly {
  top: 502px;
  font-size: var(--font-size-xs);
  font-weight: 200;
  font-family: var(--font-inter);
  height: 22px;
}
.coteauxDesGirondalesContainer {
  top: 647px;
  font-size: var(--font-size-xl);
  height: 37px;
}
.coteauxDesGirondalesContainer,
.hauteSavoie,
.matta {
  position: absolute;
  left: 194px;
  display: inline-block;
  width: 194px;
}
.matta {
  top: 705px;
  font-size: var(--font-size-sm);
  line-height: 80.5%;
  height: 37px;
}
.hauteSavoie {
  top: 741px;
  font-size: var(--font-size-xs);
  font-weight: 200;
  font-family: var(--font-inter);
  height: 22px;
}
.image28Icon,
.image29Icon {
  position: absolute;
  top: 622px;
  left: 63px;
  border-radius: var(--br-28xl-5);
  width: 95px;
  height: 188px;
  object-fit: cover;
}
.image29Icon {
  top: 142px;
  left: 59px;
  border-radius: var(--br-44xl-5);
  width: 106px;
  height: 216px;
}
.cordonBleuChild5 {
  position: absolute;
  top: 252px;
  left: 160px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-forestgreen-200);
  width: 37px;
  height: 37px;
}
.biodynamie {
  position: absolute;
  top: 263px;
  left: 158px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 18px;
}
.cordonBleuChild6 {
  position: absolute;
  top: 472px;
  left: 151px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-darkslategray);
  width: 35px;
  height: 36px;
}
.biologique {
  position: absolute;
  top: 482px;
  left: 151px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;
}
.cordonBleuChild7 {
  position: absolute;
  top: 703px;
  left: 155px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-darkslategray);
  width: 35px;
  height: 36px;
}
.biologique1 {
  position: absolute;
  top: 713px;
  left: 155px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;
}
.image17Icon {
  position: absolute;
  top: 378px;
  left: 75px;
  border-radius: var(--br-7xl);
  width: 64px;
  height: 202.67px;
  object-fit: cover;
}
.cordonBleu {
  position: relative;
  background-color: var(--color-darkslategray);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-7xs);
  color: var(--color-antiquewhite);
  font-family: var(--font-bebas-neue);
}
