.laSlectionTradevino {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.pourLeThon {
  margin: 0;
}
.laSlectionTradevinoContainer {
  position: absolute;
  top: 48px;
  left: 41px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 315px;
  height: 78px;
}
.chteauLagrange2022Container,
.coteauxDesGirondalesContainer,
.heritageDuPicContainer {
  position: absolute;
  top: 197px;
  left: 197px;
  display: inline-block;
  width: 194px;
  height: 37px;
}
.coteauxDesGirondalesContainer,
.heritageDuPicContainer {
  top: 436px;
}
.heritageDuPicContainer {
  top: 655px;
  left: 194px;
}
.ceuxDaprs,
.entreDeuxMers,
.hauteSavoie,
.languedoc,
.sainteAgnsBlanc {
  position: absolute;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 194px;
  height: 37px;
}
.ceuxDaprs {
  top: 488px;
  left: 204px;
  line-height: 80.5%;
}
.entreDeuxMers,
.hauteSavoie,
.languedoc,
.sainteAgnsBlanc {
  top: 702px;
  left: 195px;
}
.entreDeuxMers,
.hauteSavoie,
.languedoc {
  top: 244px;
  left: 197px;
  font-size: var(--font-size-xs);
  font-weight: 200;
  font-family: var(--font-inter);
  height: 22px;
}
.hauteSavoie,
.languedoc {
  top: 507px;
}
.languedoc {
  top: 722px;
  left: 194px;
}
.thonMiCuitChild,
.thonMiCuitInner,
.thonMiCuitItem {
  position: absolute;
  top: 412px;
  left: 24px;
  width: 171px;
  height: 171px;
}
.thonMiCuitInner,
.thonMiCuitItem {
  top: 172px;
}
.thonMiCuitInner {
  top: 251px;
  left: 140px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-darkslategray);
  width: 35px;
  height: 36px;
}
.biologique {
  position: absolute;
  top: 261px;
  left: 140px;
  font-size: var(--font-size-7xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;
}
.biologique1,
.rectangleDiv {
  position: absolute;
  left: 153px;
}
.rectangleDiv {
  top: 482px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-darkslategray);
  width: 35px;
  height: 36px;
}
.biologique1 {
  top: 492px;
  font-size: var(--font-size-7xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;
}
.ellipseIcon {
  position: absolute;
  top: 652px;
  left: 24px;
  width: 171px;
  height: 171px;
}
.thonMiCuitChild1 {
  position: absolute;
  top: 166px;
  left: 151px;
  width: 59px;
  height: 59px;
}
.thonMiCuitChild2 {
  position: absolute;
  top: 143px;
  left: 182px;
  width: 49px;
  height: 49px;
}
.thonMiCuitChild3,
.thonMiCuitChild4 {
  position: absolute;
  top: 404px;
  left: 145px;
  width: 59px;
  height: 59px;
}
.thonMiCuitChild4 {
  top: 636px;
  left: 138px;
}
.div,
.div1,
.div2,
.div3 {
  position: absolute;
  top: 184px;
  left: 158px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 46px;
  height: 41px;
}
.div1,
.div2,
.div3 {
  top: 154px;
  left: 184px;
  font-size: var(--font-size-base);
}
.div2,
.div3 {
  top: 422px;
  left: 148px;
  font-size: var(--font-size-3xl);
  width: 54px;
}
.div3 {
  top: 651px;
  left: 145px;
  font-size: var(--font-size-5xl);
  width: 46px;
}
.div4,
.thonMiCuitChild5 {
  position: absolute;
  top: 384px;
  left: 175px;
  width: 49px;
  height: 49px;
}
.div4 {
  top: 395px;
  left: 177px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 46px;
  height: 41px;
}
.copyBouteille,
.copyBouteille1 {
  position: absolute;
  top: 17.36px;
  left: -0.1px;
  transform: rotate(-50.1deg);
  transform-origin: 0 0;
}
.copyBouteille1 {
  top: 13.08px;
  left: 3.25px;
  transform: rotate(-42.23deg);
}
.copyBouteille2,
.copyBouteille3,
.copyBouteille4 {
  position: absolute;
  top: 9.35px;
  left: 7.11px;
  transform: rotate(-34.46deg);
  transform-origin: 0 0;
}
.copyBouteille3,
.copyBouteille4 {
  top: 6.39px;
  left: 11.24px;
  transform: rotate(-28.51deg);
}
.copyBouteille4 {
  top: 4.37px;
  left: 14.76px;
  transform: rotate(-22.62deg);
}
.copyBouteille5,
.copyBouteille6,
.copyBouteille7 {
  position: absolute;
  top: 2.93px;
  left: 18.1px;
  transform: rotate(-18.86deg);
  transform-origin: 0 0;
}
.copyBouteille6,
.copyBouteille7 {
  top: 1.86px;
  left: 20.95px;
  transform: rotate(-13.02deg);
}
.copyBouteille7 {
  top: 0.85px;
  left: 24.85px;
  transform: rotate(-7.19deg);
}
.copyBouteille8 {
  top: 0.26px;
  left: 28.79px;
  transform: rotate(-1.54deg);
}
.copyBouteille8,
.copyBouteille9,
.copyBouteilleParent {
  position: absolute;
  transform-origin: 0 0;
}
.copyBouteilleParent {
  top: 156px;
  left: 148.13px;
  width: 32.12px;
  height: 23.73px;
  transform: rotate(0.33deg);
  font-size: var(--font-size-5xs);
}
.copyBouteille9 {
  top: 17.36px;
  left: -0.21px;
  transform: rotate(-49.74deg);
}
.copyBouteille10,
.copyBouteille11,
.copyBouteille12 {
  position: absolute;
  top: 13.1px;
  left: 3.17px;
  transform: rotate(-41.87deg);
  transform-origin: 0 0;
}
.copyBouteille11,
.copyBouteille12 {
  top: 9.39px;
  left: 7.05px;
  transform: rotate(-34.11deg);
}
.copyBouteille12 {
  top: 6.46px;
  left: 11.2px;
  transform: rotate(-28.16deg);
}
.copyBouteille13,
.copyBouteille14,
.copyBouteille15 {
  position: absolute;
  top: 4.46px;
  left: 14.73px;
  transform: rotate(-22.26deg);
  transform-origin: 0 0;
}
.copyBouteille14,
.copyBouteille15 {
  top: 3.04px;
  left: 18.08px;
  transform: rotate(-18.5deg);
}
.copyBouteille15 {
  top: 1.99px;
  left: 20.93px;
  transform: rotate(-12.67deg);
}
.copyBouteille16,
.copyBouteille17,
.copyBouteilleGroup {
  position: absolute;
  top: 1.01px;
  left: 24.85px;
  transform: rotate(-6.83deg);
  transform-origin: 0 0;
}
.copyBouteille17,
.copyBouteilleGroup {
  top: 0.44px;
  left: 28.79px;
  transform: rotate(-1.19deg);
}
.copyBouteilleGroup {
  top: 393.01px;
  left: 142.66px;
  width: 32.12px;
  height: 23.73px;
  transform: rotate(0.68deg);
  font-size: var(--font-size-5xs);
}
.copyVerre,
.copyVerre1,
.copyVerre2,
.copyVerre3 {
  position: absolute;
  top: -10.93px;
  left: 5.18px;
  transform: rotate(27.04deg);
  transform-origin: 0 0;
}
.copyVerre1,
.copyVerre2,
.copyVerre3 {
  top: -9.09px;
  left: 8.64px;
  transform: rotate(35.39deg);
}
.copyVerre2,
.copyVerre3 {
  top: -6.75px;
  left: 11.81px;
  transform: rotate(43.84deg);
}
.copyVerre3 {
  top: -3.95px;
  left: 14.62px;
  transform: rotate(52.36deg);
}
.copyVerre4,
.copyVerreGroup,
.copyVerreParent {
  position: absolute;
  top: -0.79px;
  left: 16.97px;
  transform: rotate(60.76deg);
  transform-origin: 0 0;
}
.copyVerreGroup,
.copyVerreParent {
  top: 148.92px;
  left: 212.92px;
  width: 12.09px;
  height: 17.67px;
  transform: rotate(-66.94deg);
  font-size: var(--font-size-7xs);
}
.copyVerreGroup {
  top: 389.12px;
  left: 206px;
}
.copyBouteille18,
.copyBouteille19 {
  position: absolute;
  top: 17.35px;
  left: -0.78px;
  transform: rotate(-47.86deg);
  transform-origin: 0 0;
}
.copyBouteille19 {
  top: 13.2px;
  left: 2.74px;
  transform: rotate(-39.98deg);
}
.copyBouteille20,
.copyBouteille21,
.copyBouteille22 {
  position: absolute;
  top: 9.62px;
  left: 6.74px;
  transform: rotate(-32.22deg);
  transform-origin: 0 0;
}
.copyBouteille21,
.copyBouteille22 {
  top: 6.83px;
  left: 10.98px;
  transform: rotate(-26.27deg);
}
.copyBouteille22 {
  top: 4.94px;
  left: 14.58px;
  transform: rotate(-20.38deg);
}
.copyBouteille23,
.copyBouteille24,
.copyBouteille25 {
  position: absolute;
  top: 3.64px;
  left: 17.97px;
  transform: rotate(-16.61deg);
  transform-origin: 0 0;
}
.copyBouteille24,
.copyBouteille25 {
  top: 2.68px;
  left: 20.86px;
  transform: rotate(-10.78deg);
}
.copyBouteille25 {
  top: 1.82px;
  left: 24.8px;
  transform: rotate(-4.95deg);
}
.copyBouteille26,
.copyBouteilleContainer {
  position: absolute;
  top: 1.39px;
  left: 28.76px;
  transform: rotate(0.7deg);
  transform-origin: 0 0;
}
.copyBouteilleContainer {
  top: 624px;
  left: 137.06px;
  width: 32.12px;
  height: 23.73px;
  transform: rotate(2.57deg);
  font-size: var(--font-size-5xs);
}
.groupChild,
.groupItem {
  position: absolute;
  border-radius: var(--br-7xs);
  width: 133px;
  height: 44px;
}
.groupChild {
  top: 0;
  left: 4px;
  background-color: var(--color-antiquewhite);
}
.groupItem {
  top: 5px;
  left: 0;
  border: 1px solid var(--color-antiquewhite);
  box-sizing: border-box;
}
.jeDcouvre,
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 137px;
  height: 49px;
}
.jeDcouvre {
  top: 9px;
  left: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 27px;
}
.groupContainer,
.groupDiv,
.groupParent {
  position: absolute;
  top: 270px;
  left: 223px;
  width: 137px;
  height: 49px;
  cursor: pointer;
  color: var(--color-indianred);
}
.groupContainer,
.groupDiv {
  top: 534px;
  left: 225px;
}
.groupDiv {
  top: 746px;
  left: 223px;
}
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  height: 3.32%;
  width: 7.18%;
  top: 8.18%;
  right: 86.67%;
  bottom: 88.51%;
  left: 6.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon1 {
  cursor: pointer;
}
.image25Icon {
  top: 127px;
  left: 61px;
  border-radius: var(--br-26xl);
  width: 97px;
  height: 218px;
}
.image25Icon,
.image26Icon,
.image27Icon {
  position: absolute;
  object-fit: cover;
}
.image26Icon {
  top: 375px;
  left: 43px;
  border-radius: var(--br-47xl);
  width: 132px;
  height: 211px;
}
.image27Icon {
  top: 631px;
  left: 83px;
  border-radius: 28px;
  width: 56px;
  height: 204px;
}
.thonMiCuitChild6 {
  position: absolute;
  top: 724px;
  left: 151px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-forestgreen-200);
  width: 37px;
  height: 37px;
}
.biodynamie {
  position: absolute;
  top: 735px;
  left: 149px;
  font-size: var(--font-size-7xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 18px;
}
.thonMiCuit {
  position: relative;
  background-color: var(--color-darkslategray);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-antiquewhite);
  font-family: var(--font-bebas-neue);
}
